body {
    margin: 0;
    padding: 0;
}

button {
    padding: 5px;
}

.content {
    margin: 10px;
    margin-bottom: 100px;
}

a:visited {
    color: blue;
}

th {
    text-align: left;
}

td {
    padding-right: 20px;
}

.logo,
.logo:visited {
    text-decoration: none;
    color: blue;
}

.direction-value {
    width: 4ch;
    display: inline-block;
    padding-right: 3px;
}

.direction {
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    transform: rotate(var(--direction));
}

.ok {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.ball {
    display: inline-block;
    transform: scale(2);
}

p {
    line-height: 1.5;
}
.sticky-footer .item .icon,
.sticky-footer .item .text {
    display: flex;
    justify-content: center;
}

.sticky-footer .item {
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.sticky-footer {
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -4px 2px -2px gray;
    overflow-x: auto;
    justify-content: space-around;
}

.chart {
    position: relative;
    height: clamp(350px, 70vh, 600px);
    border: 1px solid black;
}

.latest-value {
    font-weight: bold;
    font-size: 130%;
}

.ext,
.ext:visited,
a[href^="http"]:not([href*="hyppykeli.fi"]),
a[href^="http"]:not([href*="hyppykeli.fi"]):visited {
    color: black;
    border-bottom: 1px dashed blue;
    text-decoration: none;
}

input[type="text"] {
    width: 10ch;
}

.errors p {
    color: red;
}

.compass {
    display: flex;
}

.historic {
    opacity: 0.5;
}

svg .historic {
    opacity: 0.3;
}

dialog {
    max-width: 600px;
    margin: 20px;
}

.help {
    background-color: transparent;
    color: blue;
    border: none;
}

.metar {
    font-size: 70%;
    font-family: monospace;
}

.as-rows-on-big-screen {
    display: flex;
    flex-direction: column;
}

@media (min-width: 650px) {
    .compass {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
    }
    .as-rows-on-big-screen {
        flex-direction: row;
    }
}

p {
    max-width: 500px;
}

.disclaimer {
    font-style: italic;
    font-size: 80%;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}

.show-more {
    font-size: 80%;
}

.anchor {
    height: 0;
}

.side-menu {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0px;
    width: clamp(250px, 300px, 70vw);
    overflow-y: auto;
    background-color: white;
    box-shadow: -6px 0 2px -2px gray;
    transition: right 0.3s ease;
    padding: 40px;
    padding-bottom: 100px;
}

.side-menu select {
    width: 100%;
    margin-bottom: 5px;
}

.menu-burger {
    height: 40px;
    width: 40px;
    font-size: 150%;
}

.side-menu.open {
    right: 0;
}

.hide {
    display: none;
}

button[value="share"] {
    margin-left: 1ch;
}

h2 .date {
    font-size: 70%;
    font-weight: normal;
    margin-left: 1ch;
}
