body {
    margin: 0;
    padding: 0;
}

.content {
    margin: 10px;
}

a:visited {
    color: blue;
}

th {
    text-align: left;
}

td {
}

td:has(.direction) {
    padding-right: 10px;
}

.logo,
.logo:visited {
    text-decoration: none;
    color: blue;
}

.direction {
    display: inline-block;
    transform: rotate(var(--direction));
}

.ok {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.sticky-footer a {
    margin-left: 10px;
    margin-right: 10px;
}

.ball {
    display: inline-block;
    transform: scale(2);
}

.sticky-footer {
    font-size: 130%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 -4px 2px -2px gray;
}

@media (max-width: 600px) {
    .sticky-footer {
        display: flex;
        justify-content: space-around;
    }

    .ball {
        display: none;
    }
}
