body {
    margin: 0;
    padding: 0;
}

button {
    padding: 5px;
}

.content {
    margin: 10px;
    margin-bottom: 100px;
}

a:visited {
    color: blue;
}

.weather-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.side-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.weather-table th {
    text-align: left;
}

.weather-table td,
.weather-table th {
    width: 68px;
    white-space: nowrap;
    background-color: white;
}

.weather-table td:first-of-type,
.weather-table th:first-of-type {
    position: sticky;
    width: 5ch;
    left: 0;
}

.weather-table tbody tr:hover th,
.weather-table tbody tr:hover td {
    background-color: #e9e9e9;
}

.logo,
.logo:visited {
    text-decoration: none;
    color: blue;
}

.ok {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.ball {
    display: inline-block;
    transform: scale(2);
}

p {
    line-height: 1.5;
}
.sticky-footer .item .icon,
.sticky-footer .item .text {
    display: flex;
    justify-content: center;
}

.sticky-footer .item {
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.sticky-footer {
    display: flex;
    z-index: 200;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -4px 2px -2px gray;
    overflow-x: auto;
    justify-content: space-around;
}

.chart {
    position: relative;
    height: clamp(350px, 70vh, 600px);
    border: 1px solid black;
}

.latest-value {
    font-weight: bold;
    font-size: 130%;
}

.ext,
.ext:visited,
a[href^="http"]:not([href*="hyppykeli.fi"]),
a[href^="http"]:not([href*="hyppykeli.fi"]):visited {
    color: black;
    border-bottom: 1px dashed blue;
    text-decoration: none;
}

input[type="text"] {
    width: 10ch;
}

.errors p {
    color: red;
}

.compass {
    display: flex;
    z-index: 100;
}

.historic {
    opacity: 0.5;
}

svg .historic {
    opacity: 0.3;
}

dialog {
    margin: 0 auto;
    margin-top: 20px;
    font-weight: normal;
    width: clamp(300px, 400px, 95vw);
    white-space: wrap;
}

.help-content {
    width: clamp(300px, 400px, 90vw);
}

.help {
    background-color: transparent;
    color: blue;
    border: none;
}

.metar {
    font-size: 70%;
    font-family: monospace;
}

.as-rows-on-big-screen {
    display: flex;
    flex-direction: column;
}

@media (min-width: 650px) {
    .compass {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
    }
    .as-rows-on-big-screen {
        flex-direction: row;
    }

    .big-screen-row {
        padding-right: 10px;
    }
}

p {
    max-width: 500px;
}

.disclaimer {
    font-style: italic;
    font-size: 80%;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.show-more {
    font-size: 80%;
}

.anchor {
    height: 0;
}

.side-menu {
    position: fixed;
    z-index: 200;
    background-color: white;
    right: -100%;
    top: 0;
    bottom: 0px;
    width: clamp(250px, 300px, 70vw);
    overflow-y: auto;
    background-color: white;
    box-shadow: -6px 0 2px -2px gray;
    transition: right 0.3s ease;
    padding: 40px;
    padding-bottom: 100px;
}

.side-menu select {
    width: 100%;
    margin-bottom: 5px;
}

.menu-burger {
    height: 40px;
    width: 40px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu.open {
    right: 0;
}

.hide {
    display: none;
}

button[value="share"] {
    margin-left: 1ch;
}

h2 .date {
    font-size: 70%;
    font-weight: normal;
    margin-left: 1ch;
}

.fresh {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.stale {
    opacity: 0.2;
}

.h2-with-icon {
    display: flex;
    align-items: center;
}

.anvil {
    height: 30px;
    margin-left: 1ch;
}

.forecast-row .pie {
    margin-right: 1ch;
}

.direction-value {
    width: 4ch;
    display: inline-block;
    padding-right: 3px;
}

.direction {
    text-align: center;
    font-size: 80%;
    width: 20px;
    height: 20px;
    display: inline-block;
    transform: rotate(var(--direction));
}

.icon-parachute {
    height: 20px;
}

.scale {
    transform: scale(2);
}

.rotate {
    animation: rotate 2s linear infinite;
}

.swing {
    animation: swing 2s ease-in-out infinite;
}

@keyframes swing {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FullScreen Compass */
.fullscreen-compass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.fullscreen-compass svg {
    width: 100%;
    height: 100%;
}
.back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
